header {
    padding:10px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header img {
    width:120px;
}

header button {
    background-color: #FFD8DB;
    color: #5142C0;
}

.nav-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.nav-menu a {
    text-decoration:none;
    margin:0 2vw;
    color:#D0D0D1;
    font-weight:bolder;
    

}

.nav-menu a:hover {
    color:#000 !important;
    border-bottom:solid 4px #000;   
}

.active {
    color:#000 !important;
    border-bottom:solid 4px #000;
    
}

.collapsible-nav-icon {
    display: none;
    cursor: pointer;
    font-size:20px;
}

#collapsible-nav {
    position: fixed;
    width:70vw;
    padding-top:50px;
    padding-left:20px;
    padding-right:20px;
    /* padding:30px; */
    box-sizing: border-box;
    background-color: #fff;
    border-left:solid 2px #ddd;
    right:0px;
    top:0px;
    height:100vh;
    display:block;
    z-index: 1;
}

#collapsible-nav a, #collapsible-nav button {
    display: block;
    margin-top:10px;
    margin-bottom:10px;
    padding:20px;
    font-size: 20px;
}
#collapsible-nav button {
    margin-left:40px;
}

#close-collapsible-btn {
    position: fixed;
    top:30px;
    right:30px;
}


@media screen and (max-width:768px) {
    .collapsible-nav-icon {
        display: block;
    }

    #nav-menu-items, #nav-menu-btn-div { display: none;}
}

